.profile {
  padding: 20px;
  background-color: #cf6800;
  margin: auto;
  margin-top: 90px;
  width: 70%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 40px;
  align-content: center;
}

label {
  color: white;
}

button {
  background-color: white;
  color: #141414;
  padding: 12px 20px;
  margin: 45px 8px 30px 8px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 4px;
  width: 40%;

  text-decoration: none;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* width: fit-content; */
  width: 27%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  opacity: 1;
  background-color: #e4e2e2;
}

.profile input,
select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  float: left;
  width: 60%;
  margin-top: 20px;
  transition: box-shadow 0.3s;

  /* border-style: none;
    border-radius: 20px;
    box-sizing: border-box;
    color: #696969;
    height: 40px;
    margin: 21px 0 0 29px;
    padding-left: 37px;
    transition: box-shadow 0.3s;
    width: 240px;
    font-size: 20px; */
}

.profile label {
  float: left;
  width: 30%;
  margin-top: 27px;
  padding-left: 0px;
}

/* Phone screen */
/* ----------------------------------------------*/
@media screen and (max-width: 850px) {
  .profile {
    width: 95%;
  }
}

@media screen and (max-width: 850px) {
  .profile input,
  select {
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 850px) {
  button {
    margin-top: 0;
    width: 40%;
  }
}

@media screen and (max-width: 850px) {
  .profile label {
    margin-top: 0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 450px) {
  button {
    margin-top: 0;
    width: 70%;
  }
}

@media screen and (max-width: 350px) {
  button {
    margin-top: 0;
    width: 94%;
  }
}
